{% extends 'edcBundle::viewEDC.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Listado de cineastas</h1>
     {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <span class="alert-success">
            {{ flashMessage }}
            <hr />
        </span>
    {% endfor %}
    <hr />
    <table class="table table-bordered">
        <tbody>
      
            <th>Nombre</th>
            
        </tbody>
           {% for dato in datos %}
        <tr>
            <td>{{dato.nombre}}</td>
            <td>
  				<a href="{{ path('editCineasta', {'id':dato.id}) }}" title="Editar">Editar</a>
                -
                <a onclick="return eliminarCineasta({{ dato.id }},'{{ dato.nombre }}');" href="{{ path('delCineasta', {'id':dato.id}) }}" title="Eliminar">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <script>
	function eliminarCineasta(idCineasta, nombre) {
		if (confirm("¿Estás seguro de querer eliminar el cineasta "+nombre+"?"))
			return true;
		else
			return false;
	}
	</script>
 {% endblock %}